@import url('https://fonts.cdnfonts.com/css/minecraft-3');
@import url('satoshi.css');
@import url('plank.css');
@import url('button.css');

body {
    background-color: #717171;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0;
}

h1, h2, p {
    font-size: 25px;
    font-family: 'Satoshi-black', sans-serif;
    color: black;
    text-align: center;
    
}

h3 {
    font-size: 3vw;
    text-align: center;
    color: black;
    font-family: 'Satoshi-black';
}

h4 {
    font-size: 7.6vw;
    text-align: center;
    color: black;
    font-family: 'Planet-Kosmos';
    padding-top: 2vw;
}

h5 {
    text-align: right;
    color: black;
    font-size: 10px;
    font-family: monospace;
}

a {
    font-size: 5vw;
    text-align: center;
    text-decoration: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

@keyframes opacityChange {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.rainbow {
    position: relative;
    z-index: 0;
    width: auto;
    height: auto;
    border-radius: 40px;
    overflow: hidden;
    padding: 2rem;
    display: flex;
}

.rainbow::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-repeat: no-repeat;
    background-size: 40% 80%;
    background-color: #45454500;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#454545, #ffff);
    animation: rotate 5s linear infinite;
}

.rainbow::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: #8d8d8d;
    border-radius: 40px;
    animation: opacityChange 1000000000s infinite alternate;
}

img {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

.responsive {
    max-width: 100%;
    height: auto;
    
}

.sc {
    size: 20px;
}

.spacer {
    height: 2vw;
}

@media only screen and (max-width: 1200px) {
    .rainbow {
        grid-template-columns: repeat(5, 1fr); /* 5 buttons per row */
    }

    button {
        font-size: 4vw;
        padding: 10px;
        margin: 5px;
        width: 100%; /* Button adjusts to fit grid columns */
    }

    h1, h2, p {
        font-size: 4vw;
    }

    h3 {
        font-size: 6.5vw;
    }

    h4 {
        font-size: 10vw;
    }

    a {
        font-size: 10vw;
    }

    .spacer {
        height: 4vw;
    }
}

@media only screen and (max-width: 768px) {
    .rainbow {
        width: fit-content;
    }

    button {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 480px) {
    .rainbow {
        width: fit-content;
    }

    button {
        font-size: 5vw;
    }
}
